html, body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

img {
    max-width: 100%;
    max-height: 100%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.make-order-cart {
    padding-inline: 10px;
    height: 100%;
    width: 50%;
}

.make-order-delivery {
    padding: 10px;
    height: 100%;
    width: 50%;
}

.make-order-body {
    display: flex;
    padding-inline: 10px;
    flex: 1 1 auto;
    background-color: #1B1520;
}

.header {
    background-color: #3E2B26;
    display: flex;
    padding: 4pt 70pt 4pt 70pt;
    align-items: center;
    justify-content: space-around;
}

.header a:hover, a:visited, a:link, a:active { 
    text-decoration: none; 
}

.header__content {
    color: #ffffff;
    font-size: 24px;
}

.burger-menu_button {
    display: none;
    height: 80px;
    width: auto;
}

.burger-menu_items {
    display: none;
}

.header__logo {
    color: #D7BD79;
    font-family: 'Akaya Telivigala';
    font-size: 24pt;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px;
}

.body {
    display: flex;
    flex-direction: column;
    padding-inline: 10px;
    flex: 1 1 auto;
    background-color: #1B1520;
}

.controls {
    display: flex;
    margin: 10px 15px 10px 15px;
    height: fit-content;
    justify-content: space-between;
}

.search {
    width: auto;
    display: flex;
}

.search__border {
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border: 7px solid #D7BD79;
    border-radius: 45px;
    width: 350px;
    height: 60px;
    padding: 3px 10px 3px 10px;
}

.search__img {
    display: flex;
    height: 70px;
    width: auto;
}

.search__cross {
    display: none;
}

input {
    border: none;
    height: 80%;
    background-color: #1B1520;
    color: white;
    width: 100%;
    margin-inline: 10px;
    font-size: large;
}

.cart {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.cart-popup {
    display: flex;
    flex-direction: row;
    justify-content: end;
    top: 0px;
    position: fixed;
    right: -200%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.432);
}

.cart-popup.active {
    right: 0;
}

.background {
    display: flex;
    height: 100%;
    flex: 1 1 auto;
}

.cart-popup-content {
    padding-inline: 10px;
    height: 100%;
    min-width: 300px;
    max-width: 600px;
}

.cart-popup-container {
    position: fixed;
    display: flex;
    right: -200%;
    flex-direction: column;
    background-color: #1B1520;
    height: 100%;
    min-width: 320px;
    max-width: 600px;
    width: 100%;
    transition: all 0.5s ease-in-out;
}

.cart-popup-container.active {
    right: 0;
}

.product-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    font-size: 24px;
    padding-left: 10px;
}

.product-name {
    font-size: 36px;
}

.product-author {
    color: lightgray;
}

.product-action-remove{
    color: rgba(255, 255, 255, 0.7);
    font-size: 24px;
    align-self: flex-end;
}

.product-quantity-input-container {
    align-self: center;
    width: 50%;
}

.product-quantity-input {
    box-sizing: border-box;
    width: 80;
    transition: 0.3s;
    border: 2px solid #3E2B26;
    border-radius: 2px;
    outline: none;
}

.product-quantity-input:focus {
    border: 2px solid #D7BD79;
}

.product-actions {
    color: white;
    font-size: 36px;
    max-width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-end;
}

.about-product {
    display: flex;
}

.product-action-quantity {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-header-cross {
    height: 32px;
    width: auto;
    cursor: pointer;
}

.cart-popup-clear {
    cursor: pointer;
}

.cart-products {
    display: flex;
    flex-direction: column;
    height: calc(100% - 225px);
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.cart-product {
    display: flex;
    flex-direction: row;
    padding: 15px;
    align-items: stretch;
    justify-content: space-between;
}

.product-image-container {
    width: 80px;
    height: auto;
}

.cart-header {
    font-size: 24px;
    padding: 10px 0;
    display: flex;
    color: white;
    justify-content: space-between;
}

.cart-summary-group {
    font-size: 24px;
    padding: 10px 0;
    display: flex;
    color: white;
    justify-content: space-between;
}

.cart-summary-button {
    background-color: #4CAF50; /* Green */
    border: none;
    width: 100%;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    transition-duration: 0.8s;
}

.cart-summary-button:hover {
    background-color: #ffffff; 
    color: #4CAF50;
    cursor: pointer;
}

.cart__text {
    font-family: Inter;
    color: white;
    font-size: 40px;
}

.cart__img {
    padding-inline: 10px;
    height: 50px;
    width: auto;
}

@media (max-width: 730px) {
    .cart__text {
        display: none;
    }
}

.new {
    display: flex;
    flex-direction: column;
    padding-inline: 20px;
    color: white;
}

.new__tittle {
    margin: 0px;
    font-size: xx-large;
}

.new__row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.item {
    display: flex;
    flex-direction: column;
    height: 370px;
    width: auto;
    padding: 15px;
}

.item__content {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: auto;
}

.item__content__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item__content__name {
    font-size: 25px;
}

.item__content__accessibility {
    color: chartreuse;
}

.button__buy {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    transition-duration: 0.8s;
}

.button__buy:hover {
    background-color: #ffffff; 
    color: #4CAF50;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #3E2B26;
    padding-inline: 30px;

}

.footer__copyright {
    font-size: 24pt;
    color: #D7BD79;
}

.footer__about {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #D7BD79;
    font-size: 24pt;
}

.footer__about__social {
    display: flex;
    align-items: center;
    padding-inline: 10px;
    width: 8%;
    height: auto;
}

.footer__about__social__img {
    width: 100%;
    height: auto;
}

@media (max-width: 880px) and (min-width: 801) {
    .footer__copyright {
        font-size: 18pt;
    }
    .footer__about {
        font-size: 18pt;
    }
}

@media (max-width: 800px) {
    .footer__copyright {
        font-size: 16pt;
    }

    .footer__about {
        font-size: 16pt;
    }

    .footer__about__social {
        display: none;
    }

    .header {
        padding-inline: 10px;
        justify-content: space-between;
    }

    .header__logo {
        margin: 0;
        flex-direction: row;
        align-items: center;
        font-size: 48pt;
    }

    .burger-menu_button {
        display: flex;
    }

    .header__content {
        display: none;
    }

    .burger-menu_items {
        position: fixed;
        top: 0px;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.432);
        display: block;
    }

    .burger-menu_items.active {
        left: 0;
    }

    .burger-menu-item-container {
        display: block;
        transition: all 0.8s ease-in-out;
        position: fixed;
        top: 0;
        left: -100%;
        width: 50%;
        background-color: #3E2B26;
        border-end-end-radius: 30px;
    }

    .burger-menu-item-container.active {
        left: 0;
    }

    .burger-menu__content {
        display: block;
        color: white;
        padding: 15px;
        font-size: 24px;;
    }

    .burger-menu-item-container a:hover, a:visited, a:link, a:active { 
        text-decoration: none; 
    }
}


@media (max-width: 550px) {
    .header__logo {
        font-size: 22pt;
    }

    .header__logo img {
        width: 100px;
        height: auto;
    }
}

@media (max-width: 400px) {
    .header__logo img {
        width: 70px;
        height: auto;
    }

    .burger-menu_button {
        width: 90px;
        height: auto;
    }
}

@media (max-width: 488px) {
    .new__row {
        justify-content: center;
    }
}

@media (max-width: 540px) {
    .search__border {
        opacity: 0;
        width: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: all 1s ease-out;
    }
    
    .search {
        width: 100%;
    }

    .cart__img {
        opacity: 1;
        padding-inline: 10px;
        width: auto;
        transition: opacity 1s;
    }

    .cart__img.hidden {
        opacity: 0;
        padding: 0;
        width: 0;
    }

    .search__border.active {
        opacity: 1;
        border: 7px solid #D7BD79;
        border-radius: 45px;
        width: 100%;
        height: 60px;
        padding: 3px 10px 3px 10px;
    }

    .search__img.hidden {
        display: none;
    }
    
    .search__cross {
        display: flex;
        height: 70px;
        width: auto;
    }

    .search__cross.hidden {
        display: none;
    }
}

@media (max-width: 350px) {
    .product-name {
        font-size: 24px;
    }

    .cart-product {
        padding: 15px 0;
    }
}