@font-face {
    font-family: Akaya Telivigala;
	font-display: swap;
    src: url(../fonts/AkayaTelivigala-Regular.woff);
	font-weight: 400;
	font-style: normal;
}

@font-face {
    font-family: Inter;
	src: url(../fonts/Inter-Regular.woff);
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}